html {
    height: 100%;
}

body {
    font: bold 60px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    display: flex;
    flex-direction: column;

    height: 100%;
    margin: 0;

    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
}

header .link {
    font-size: 40px;
    color: lightgray;
    text-decoration: underline;

    display: inline-block;
    margin: 0.25em 1em;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    flex-grow: 1;

    & textarea {
        font: inherit;
        font-weight: initial;
        text-transform: uppercase;

        width: calc(100% - 1em);
        padding: 0.5em;
    }

    & .word {
        display: inline-block;
        margin: 0.05em 0.65em;
    }

    & .border {
        border: 0.1em solid lightgray;
        border-radius: 0.25em;
        box-sizing: border-box;

        &.button {
            cursor: pointer;
            width: 50%;
            margin: 0 25%;
        }

        &.indicator {
            display: inline-block;

            width: 0.5em;
            height: 0.5em;
            margin: 0 0.25em;
        }

        &.tile {
            display: inline-block;
            vertical-align: top;
            cursor: pointer;

            &.letter {
                width: 1.2em;
                height: 1.5em;
                line-height: 1.3em;
                margin: 0 0.05em;
            }

            &.key {
                width: 10%;
                height: 2.5em;
                line-height: 2.3em;

                &.pressed {
                    background-color: lightgray;
                }

                &.large {
                    width: 15%;
                }

                &.x-large {
                    width: 100%;
                }
            }
        }

        &.locked {
            color: lightgray;
            cursor: default;
        }

        &.filled {
            border-color: darkseagreen;
            background-color: darkseagreen;
            cursor: default;
        }
    }
}

.blank {
    visibility: hidden;
}

.hidden {
    display: none !important;
}
